<!-- Toolbar -->
<div class="content" role="main">
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Railz Logo"
      src="../assets/logo.svg"
    />
    <span>Welcome</span>
  </div>

<!--  <div>-->
<!--    <button style="background: #2c3e50" (click)="setShowComponents()"><span *ngIf="!showComponents">Show</span><span *ngIf="showComponents">Hide</span> Components</button>-->
<!--  </div>-->
<!--  <div *ngIf="showComponents">-->
<!--    <p>Web Components</p>-->
<!--    <railz-connect widgetId="wid"></railz-connect>-->
<!--  </div>-->

    <div id='railz-connect' #railzConnect></div>
</div>

