<!-- Toolbar -->
<div class="content" role="main">
  <div class="toolbar" role="banner">
    <h1>Welcome</h1>
    <p>This is a sample Railz Connect project using Angular</p>
    <p>
      Edit <code>src/app/app.component.ts</code> to pass it your required parameters and save to reload.
    </p>
    <a
      href="https://docs.railz.ai/docs/railz-connect-overview"
      target="_blank"
      rel="noopener noreferrer"
    >
      Learn Railz Connect
    </a>
  </div>

    <div id='railz-connect' #railzConnect></div>
</div>

