.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-family: Helvetica, sans-serif;
}

button {
  padding: 10px;
  background: rgba(105, 250, 189, 0.34);
  color: #f2f2f2;
  border-radius: 10px;
}
.toolbar {
  text-align: center;
  margin-top: 16px;
}
